<h1>Enrichments</h1>
<h2>
    <%= pluralize(@enrichments.size, 'match') %> for
    <%= @field %> = <%= @query %>
</h2>
<ol>
<%- @enrichments.each do |e| %>
    <li>
    <%= e['database_name'] %> : <%= e['local_subjects'] %>
    </li>
    <span><!-- Show real-time screenshot or status using jquery --></span>
<% end %>
</ol>